<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.latcn.a2a.permission.admin.infra.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="io.github.latcn.a2a.permission.admin.infrastructure.persistence.entity.RoleDO">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="priority" property="priority"/>
        <result column="role_version" property="roleVersion"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

</mapper>